/* Empty. Add your own CSS if you like */
.bar.bar-positive{
	background-color:rgba(0,0,0,0);
}
.bar{
	background-size: 100% 0px;
}
.logo-item{
	height:174px;
	background-image:url('../img/top_bg@2x.png');
	 border-style:none;
	background-size:100% 174px
}
.alarm-count{
	 position:absolute;
	 top:48px;
	 width:100%;
	 background-color:rgba(0,0,0,0);
	 border-style:none;
	 text-align: center;
}
.alarm-count-num{
	color:#fff;
	font-size: 32px;
}
.alarm-count-text{
	color:#fff;
	font-size: 18px;
	opacity:.5;
	padding-top:10px; 
}
.alarm-level{
	 border-style:none;
}
.alarm-level-num{
	color:#000;
	font-size: 24px;
}
.alarm-level-text{
	color:#000;
	font-size: 12px;
	opacity:.5;
	padding-top:10px; 
}
.item-note{
	color:#F1652A;
}
.item-complex .item-content{
	background-color:#F9F9F9;
}


/* list */
.bar.bar-light .button{
	color: #1CA7DD;
}
.alarm-item-note{
	font-size: 14px;
	color: #000000;
	opacity:.5;
}

.alarm-item-content{
	font-size: 16px;
	color: #000000;
	opacity:.8;
}
#alarm-list .item{
	border-style:none;
}

#alarm-list .item-complex .item-content, .item-radio .item-content{
	padding-right: 0px;
}
 #alarm-list .col-90{
	border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 15px;
}

.alarm-top5{
	border-style:none;
	 position:absolute;
	 top:214px;
	 left: -15px;
	 z-index: 3;
	 background-color:rgba(0,0,0,0);
}
.alarm-top5 img{
	 widht:20px;
	 height: 20px;
}

