<ion-view >
  <ion-header-bar align-title="center" class="bar-light">
    <div class="buttons">
      <a class="button icon-left ion-chevron-left button-clear" href="#/bmc/index">返回</a>
    </div>
    <h1 class="title">全部告警</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-navicon"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header no-padding">
    <ion-list id="alarm-list">
      <ion-item href="#/bmc/alarms/1">
        <div class="row row-center row-no-padding">
          <div class="col" style="border-size:2px">
            <img src="img/high@2x.png" style="width:22px;height:22px;padding-left:-20px;">
          </div>
          <div class="col-90" class="text-wrap">
            <div><span class="alarm-item-note">严重 &nbsp;&nbsp; 今天 13:43</span></div>
            <div class="item-text-wrap alarm-item-content">cpu超负荷，已经崩溃了，文字很多，很多文字很多文字很多文字十多个机。</div>
            <div><span class="alarm-item-note">ZJ06-JF23TJJDG(192.168.64.8)</span></div>
          </div>
        </div>
      </ion-item>
      <ion-item href="#/bmc/alarms/1">
        <div class="row row-center row-no-padding">
          <div class="col" style="border-size:2px">
            <img src="img/low@2x.png" style="width:22px;height:22px;padding-left:-20px;">
          </div>
          <div class="col-90" class="text-wrap">
            <div><span class="alarm-item-note">提醒 &nbsp;&nbsp; 今天 13:43</span></div>
            <div class="item-text-wrap alarm-item-content">已经崩溃了，文字就这么多</div>
            <div><span class="alarm-item-note">北医三院</span></div>
          </div>
        </div>
      </ion-item>
      <ion-item href="#/bmc/alarms/1">
        <div class="row row-center row-no-padding">
          <div class="col" style="border-size:2px">
            <img src="img/medium@2x.png" style="width:22px;height:22px;padding-left:-20px;">
          </div>
          <div class="col-90" class="text-wrap">
            <div><span class="alarm-item-note">警告 &nbsp;&nbsp; 07-18 13:45</span></div>
            <div class="item-text-wrap alarm-item-content">cpu超负荷，已经崩溃了深度国际定时
圣诞节过圣诞节给圣诞节该路绝对是的
圣诞节过段时间个第三个十多个机关。</div>
            <div><span class="alarm-item-note">ZJ06-JF23TJJDG(192.168.64.8)</span></div>
          </div>
        </div>
      </ion-item>
      <ion-item href="#/bmc/alarms/1">
        <div class="row row-center row-no-padding">
          <div class="col" style="border-size:2px">
            <img src="img/high@2x.png" style="width:22px;height:22px;padding-left:-20px;">
          </div>
          <div class="col-90" class="text-wrap">
            <div><span class="alarm-item-note">严重 &nbsp;&nbsp; 15-07-18 13:43</span></div>
            <div class="item-text-wrap alarm-item-content">cpu超负荷，已经崩溃了。</div>
            <div><span class="alarm-item-note">ZJ06-JF23TJJDG(192.168.64.8)</span></div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
